PRIVATE_KEY = "35...de"

VERIDA_SERVER_URL="http://localhost"
VERIDA_SERVER_PORT=5021

RPC_TARGET_NET = "RPC_URL_BSC_TESTNET"
RPC_URL_BSC_TESTNET="https://data-seed-prebsc-1-s1.binance.org:8545/"

CONTRACT_ADDRESS_RPC_URL_BSC_TESTNET_DidRegistry = "0x17dFd83eFDD2D0c430E2cA4b01d1df93cDa9960b"
